

/*************** HEADER **********************/


.header_logo {
  float: left;
  padding-top: 14px;
}

.header_logo-group {
  float: left;
  width: 150px;
  margin-left: -20px;
}

.header_logo-written {
  float: left;
  font-family: 'Yellowtail', cursive;
  margin-top: 5px;
}

.header_tagline {
  float: left;
  font-size: 1rem;
  margin-top: -5px;
}

.header_social-nav {
  float: right;
  padding: 14px 1px;
}


.header_social-nav:nth-child(2) {
  padding-left: 10px;
}

.main-header {
  border-style: solid;
  border-width: 0px 0px 13px;
  -moz-border-image: url(../img/dash-Border.png) 0 0 13 repeat;
  -webkit-border-image: url(../img/dash-Border.png) 0 0 13 repeat;
  -o-border-image: url(../img/dash-Border.png) 0 0 13 repeat;
  border-image: url(../img/dash-Border.png) 0 0 13 fill repeat;
  padding-bottom: 24px;
}


/************** ARTICLE ******************/


.article_header {
  margin-top: 20px;
  padding-top: 10px;
  font-family: 'Oswald', sans-serif;
}

.post-info {
  float: left;
  color: #D1CFD5;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.icon_print {
  float: right;
  color: #D1CFD5;
}

.img_main-img {
  width:100%;
}

.directions p {
  text-indent: 2em;
  padding: 10px;
}

/**************CHECKLIST **************/

.list_ingredients {
  background-image: url(../img/list-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  columns: <;
  padding: 30px;
}

.list_ingredients li {
  margin-left: 21px;
}


.section_list {
  border-style: solid;
  border-width: 0px 27px 13px;
  -moz-border-image: url(../img/dash-Border.png) 0 27 13 repeat;
  -webkit-border-image: url(../img/dash-Border.png) 0 27 13 repeat;
  -o-border-image: url(../img/dash-Border.png) 0 27 13 repeat;
  border-image: url(../img/dash-Border.png) 0 27 13 fill repeat;
  padding-bottom: 35px;
}


/************** AUTHOR ******************/

.section_author {
  margin-top: 45px;
  margin-bottom: 55px;
}

.section_author h1 {
  font-size: 2rem;
  font-family: 'Droid Serif', serif;
}

.link_share {
  float: right;
  color: #FFF;
  background-color: #BC7058;
  padding: 10px 20px;
  margin-top: 35px;
  font-size: 2.1rem;

}

/****************** Footer *****************/

.footer_logo {
  margin-top: -21px;
}

.footer_text {
  color: #D1CFD5;
}

.section_copyright {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer_text {
  margin: 0;
}


