
/*********** GENERAL PAGE *************/

body {
  margin: 35px 0px;
}


/*************** HEADER **********************/


.header-logo {
  float: left;
  margin-right: 7px;
}

.header-logo-group {
  float: left;
  width: 150px;
}

.header-logo-written {
  float: left;
  font-family: 'Yellowtail', cursive;
  font-size: 3.2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.header-tagline {
  float: left;
  font-size: 1rem;
  font-family: ;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.header-social-nav {
  float: right;
  padding: 14px 1px;
}

.header-social-nav:nth-child(2) {
  padding-left: 10px;
}

.main-header {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  -moz-border-bottom-image: url(img/dash-Border.png) 27 repeat;
  -webkit-border-bottom-image: url(img/dash-Border.png) 27 repeat;
  -o-border-bottom-image: url(img/dash-Border.png) 27 repeat;
  border-bottom-image: url(img/dash-Border.png) 27 fill repeat;
  padding-bottom: 14px;
}


/************** ARTICLE ******************/


.article-header {
  margin-top: 20px;
  margin-bottom: 7px;
  padding-top: 10px;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.post-info {
  float: left;
  font-family: 'Abel', sans-serif;
}

.print {
  float: right;
  font-family: 'Abel', sans-serif;
}

.directions p {
  text-indent: 2em;
  font-family: 'Droid Serif', serif;
  font-size: 1.8rem;
  padding: 10px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.ingredients {
  background-image: url(../img/list-bg.png);
  background-repeat: no-repeat;
  list-style: none;
  -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  columns: <;
  padding: 20px 10px 20px 30px;
  line-height: 1;
}

.ingredients li {
  margin-left: 21px;
  font-family: 'Patrick Hand', cursive;
}

input[type="checkbox"]:checked {

}

.list {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  padding: 14px 0 14px 0;
  -moz-border-bottom-image: url(img/dash-Border.png) 10 repeat;
  -webkit-border-bottom-image: url(img/dash-Border.png) 10 repeat;
  -o-border-bottom-image: url(img/dash-Border.png) 10 repeat;
  border-bottom-image: url(img/dash-Border.png) 10 fill repeat;
}

.pizza-img {
  width:100%;
}


/************** AUTHOR ******************/

.author {
  margin-top: 45px;
  font-family: 'Droid Serif', serif;
  font-size: 1.8rem;
}

.author h1 {
  font-size: 2rem;
  margin-bottom: 7px;
}

.share {
  text-decoration: none;
  color: #FFF;
  background-color: red;
  padding: 10px 20px;
  float: right;
  margin-top: 35px;
  font-family: 'Oswald', sans-serif;
}

.share:hover {
  background-color: #990000;
  color: #D1CFD5;
}


/****************** Footer *****************/

.footer{
  margin-top: 42px;
  padding-top: 25px;
  font-family: 'Droid Serif', serif;
  color: #D1CFD5;
  border-top: 1px solid #D1CFD5;
  text-align: center;
}

.footer-logo {
  margin-top: -44px;
  position: absolute;
}

.footer-text {
  margin-bottom: 0;
}



